*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-size: calc(16px + 2vw);
}


.blok
{
    background-color: blue;
}


.textstyle
{
    font-weight: 600;
    font-style: italic;
    color: white;
}


.navbar-nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mbottom
{
    margin-bottom: 15px;
}

.tlo{
    
}

.bgimg
{
    background-image: url('./img/tlo2.png');
    background-attachment: fixed;
}

.workerbox
{
    display: flex;
}

.workerimg
{
    width: 100%
}


.fullsize
{
    height: 100vh;
}

.color-dark
{
    color: black;
}
